---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar.astro";
import Navbarbottom from "../components/Navbar.svelte";
import data from "../components/dataksum.json";
import datapartners from "../components/datapartners.json";

import Selection from '../components/Selection.astro'

import Footer from '../components/Footer.astro'


---

<Layout title="LEAP | KERALA STARTUP MISSION">

<Navbar></Navbar>
<Navbarbottom client:load></Navbarbottom>

<main id="main pt-24">

    <section class="breadcumb-section mt-10">
        <div class="tf-container">
            <div class="row">
                <div class="col-lg-12 center z-index1">
                    <h1 class="title md:text-7xl text-4xl font-extrabold">LEAP CO-WORKS</h1>
                    <img class="bcrumb-ab" src="./assets/images/page/mask-bcrumb.png" alt="">
                </div>
            </div>

        </div>
    </section>

    <!-- <section class="widget-adventure py-24">
        <div class="center mb-20">
           
            <h2 class="title-heading font-extrabold text-4xl uppercase">KSUM Leap </h2>
        </div>
        <div class="tf-container">
            <div class="row">
                <div class="mb-18">
                    <span class="sub-title-heading text-main fs-28-46 font-yes animated">What</span>
                    <h2 class="title-heading mb-18 animated text-3xl font-bold uppercase">we offer
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="">
                       
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-hiking" role="tabpanel"
                                tabindex="0">
                                <div class="row">
                                    <div class="col-6 col-sm-6 col-lg-3 group">
                                        <div class="tf-adventure flex-three mb-43">
                                            <a  class="adventure-image  flex-shrink-0 overflow-hidden rounded-md">
                                                <img src="/leap/22.avif"  alt="" class="group-hover:scale-125 duration-300 hover:rounded-md">
                                            </a>
                                            <div class="adventure-image">
                                                <h6 class="title-ad">
                                                    <a >Incubation Support</a>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-lg-3">
                                        <div class="tf-adventure flex-three mb-43">
                                            <a  class="adventure-image  flex-shrink-0">
                                                <img src="/leap/11.jpg" alt="">
                                            </a>
                                            <div class="adventure-image">
                                              
                                                <h6 class="title-ad">
                                                    <a >Co Working Space</a>
                                                </h6>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-lg-3">
                                        <div class="tf-adventure flex-three mb-43">
                                            <a  class="adventure-image  flex-shrink-0">
                                                <img src="/leap/33.jpg" alt="">
                                            </a>
                                            <div class="adventure-image">
                                              
                                                <h6 class="title-ad">
                                                    <a >Flexi Workstation</a>
                                                </h6>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-lg-3 flex">
                                        <div class="tf-adventure flex-three mb-43 float-start">
                                            <a  class="adventure-image flex-shrink-0">
                                                <img src="/leap/33.avif" alt="">
                                            </a>
                                            <div class="adventure-image">
                                              
                                                <h6 class="title-ad">
                                                    <a >Meeting Rooms & 
                                                        Discussion Rooms</a>
                                                </h6>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-lg-3">
                                        <div class="tf-adventure flex-three mb-43">
                                            <a  class="adventure-image  flex-shrink-0">
                                                <img src="/leap/44.jpg" alt="">
                                            </a>
                                            <div class="adventure-image">
                                              
                                                <h6 class="title-ad">
                                                    <a >Plug and play
                                                        Workstations</a>
                                                </h6>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-lg-3">
                                        <div class="tf-adventure flex-three mb-43">
                                            <a  class="adventure-image  flex-shrink-0">
                                                <img src="/leap/55.avif" alt="">
                                            </a>
                                            <div class="adventure-image">
                                              
                                                <h6 class="title-ad">
                                                    <a >High speed 
                                                        Internet</a>
                                                </h6>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-lg-3 group">
                                        <div class="tf-adventure flex-three mb-43">
                                            <a  class="adventure-image  flex-shrink-0 overflow-hidden rounded-md">
                                                <img src="/leap/77.jpg" alt="" class="group-hover:scale-125 duration-300 hover:rounded-md">
                                            </a>
                                            <div class="adventure-image">
                                              
                                                <h6 class="title-ad">
                                                    <a >Funding Support</a>
                                                </h6>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-lg-3">
                                        <div class="tf-adventure flex-three mb-43">
                                            <a  class="adventure-image  flex-shrink-0">
                                                <img src="/leap/66.avif" alt="">
                                            </a>
                                            <div class="adventure-image">
                                              
                                                <h6 class="title-ad">
                                                    <a >Mentorship Support</a>
                                                </h6>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->



    <section class="widget-destination1 pt-24 relative my-10">
        <img src="./assets/images/page/shape2.png" alt="image" class="shape-destination">
        <div class="tf-container">
            <div class="row mb-50 z-index3 relative">
                <div class="col-md-8">
                    <div class="row">
                        <div class="mb-18">
                            <span class="sub-title-heading text-main fs-28-46 font-yes animated">What</span>
                            <h2 class="title-heading mb-18 animated text-3xl font-bold uppercase">we offer
                        </div>
                    </div>
                </div>
            </div>
            <div class=" grid md:grid-cols-4 grid-cols-2 gap-4 items-center justify-center z-index3 relative">
                <div class="destination-tour items-center justify-center center">
                    <a  class="destination-image w-full items-center justify-center">
                        <img src="/leap/22.avif" alt="">
                    </a>
                    
                    <div class="title-tour"><a >Incubation Support</a></div>
                </div>
                <div class="destination-tour center flex flex-col items-center justify-center">
                    <a  class="destination-image w-full items-center justify-center">
                        <img src="/leap/11.jpg" alt="">
                    </a>
                    
                    <div class="title-tour"><a >Co Working Space</a></div>
                </div>
                <div class="destination-tour center flex flex-col items-center justify-center">
                    <a  class="destination-image w-full items-center justify-center">
                        <img src="/leap/33.jpg" alt="">
                    </a>
                    
                    <div class="title-tour"><a >Flexi Workstation</a></div>
                </div>
                <div class="destination-tour center flex flex-col items-center justify-center">
                    <a  class="destination-image w-full items-center justify-center">
                        <img src="/leap/33.avif" alt="">
                    </a>
                    
                    <div class="title-tour"><a >Meeting Rooms & Discussion Rooms</a></div>
                </div>
            </div>
            <div class="destination-grid z-index3 relative">
               
                <div class="destination-tour center flex flex-col items-center justify-center">
                    <a  class="destination-image w-full items-center justify-center">
                        <img src="/leap/44.jpg" alt="">
                    </a>
                    
                    <div class="title-tour"><a >Plug and play Workstations</a></div>
                </div>
                <div class="destination-tour center flex flex-col items-center justify-center">
                    <a  class="destination-image w-full items-center justify-center">
                        <img src="/leap/55.avif" alt="">
                    </a>
                    
                    <div class="title-tour"><a >High speed Internet</a></div>
                </div>
                <div class="destination-tour center flex flex-col items-center justify-center">
                    <a  class="destination-image w-full items-center justify-center">
                        <img src="/leap/77.jpg" alt="">
                    </a>
                    
                    <div class="title-tour"><a >Funding Support</a></div>
                </div>
                <div class="destination-tour center flex flex-col items-center justify-center">
                    <a  class="destination-image w-full items-center justify-center">
                        <img src="/leap/66.avif" alt="">
                    </a>
                    
                    <div class="title-tour"><a >Mentorship Support</a></div>
                </div>
            </div>
        </div>
    </section>


    



    <!-- <section class=" pt-24">
        <div class="tf-container">
           
            <div class=" flex md:flex-row flex-col gap-4 items-center justify-center w-full">
               
                <div class="tf-widget-destination md:w-1/3 w-full  " data-wow-delay="0.2s">
                    <a href="/#ksum_owned" class="destination-imgae">
                        <img src="/leap/leap22.jpeg" alt="">
                    </a>
                    <div class="destination-content">
                        <span class="nation">KSUM Owned centres</span>
                        <div class="flex-two btn-destination">
                            <h6 class="title"><a href="/#ksum_owned">View More</a></h6>
                            <a href="/#ksum_owned" class="flex-five btn-view">
                                <i class="icon-Vector-32"></i>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="tf-widget-destination md:w-1/3 w-full " data-wow-delay="0.3s">
                    <a href="/#ksum_partnered" class="destination-imgae">
                        <img src="/leap/leap33.png" alt="">
                    </a>
                    <div class="destination-content">
                        <span class="nation">KSUM Partnered Center</span>
                        <div class="flex-two btn-destination">
                            <h6 class="title"><a href="/#ksum_partnered">View More</a></h6>
                            <a href="/#ksum_partnered" class="flex-five btn-view">
                                <i class="icon-Vector-32"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section> -->

    


   



     <!-- Widget Blog -->
     <!-- <section class="section-blog pd-main relative">
        <div class="tf-container">
            <div class="row">
                <div class="col-lg-12 mb-40">
                    <div class="center m0-auto w-text-heading">
                        <span
                            class="sub-title-heading text-main font-yes fs-28-46 ">Explore
                            the world</span>
                        <h2 class="title-heading ">Latest news & articles from the
                            blog</h2>
                    </div>
                </div>
            </div>
            <div class="flex max-h-[80vh] overflow-clip  gap-10">
                <div class="col-lg-6 h-full ">
                    <div class="tf-widget-blog blog-style2 ">
                        <a href="blog-details.html" class="blog-image">
                            <img src="./assets/images/blog/bl-h4.jpg" alt="">
                            <div class="category-blog">
                                <i class="icon-Group-8"></i>
                                <span>Business</span>
                            </div>
                        </a>
                        <div class="blog-content">
                            <ul class="meta-list flex-three">
                                <li>
                                    <i class="icon-profile-user-1"></i>
                                    <span>Mehedii .H</span>
                                </li>
                                <li>
                                    <i class="icon-7"></i>
                                    <span>Coments (03)</span>
                                </li>
                            </ul>
                            <h3 class="entry-title"><a href="#">How to Prepare for your First Track his
                                    consumer-focused </a></h3>
                            <a href="blog-details.html" class="btn-read-more">Read More <i
                                    class="icon-Vector-4"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 scroll  overflow-scroll ">
                    <div class="tf-widget-blog flex-three blog-style3">
                        <a href="blog-details.html" class="blog-image">
                            <img src="./assets/images/blog/bl-h4-1.jpg" alt="">
                        </a>
                        <div class="blog-content">
                            <ul class="meta-list flex-three">
                                <li>
                                    <i class="icon-profile-user-1"></i>
                                    <span>Mehedii .H</span>
                                </li>
                                <li>
                                    <i class="icon-7"></i>
                                    <span>Coments (03)</span>
                                </li>
                            </ul>
                            <h3 class="entry-title"><a href="blog-details.html">Get Best Advertiser In Your
                                    Side Pocket</a>
                            </h3>
                            <a href="blog-details.html" class="btn-read-more">Read More <i
                                    class="icon-Vector-4"></i></a>
                        </div>
                    </div>
                    <div class="tf-widget-blog flex-three blog-style3">
                        <a href="blog-details.html" class="blog-image">
                            <img src="./assets/images/blog/bl-h4-2.jpg" alt="">
                        </a>
                        <div class="blog-content">
                            <ul class="meta-list flex-three">
                                <li>
                                    <i class="icon-profile-user-1"></i>
                                    <span>Mehedii .H</span>
                                </li>
                                <li>
                                    <i class="icon-7"></i>
                                    <span>Coments (03)</span>
                                </li>
                            </ul>
                            <h3 class="entry-title"><a href="blog-details.html">Get Best Advertiser In Your
                                    Side Pocket</a>
                            </h3>
                            <a href="blog-details.html" class="btn-read-more">Read More <i
                                    class="icon-Vector-4"></i></a>
                        </div>
                    </div>
                    <div class="tf-widget-blog flex-three blog-style3">
                        <a href="blog-details.html" class="blog-image">
                            <img src="./assets/images/blog/bl-h4-3.jpg" alt="">
                        </a>
                        <div class="blog-content">
                            <ul class="meta-list flex-three">
                                <li>
                                    <i class="icon-profile-user-1"></i>
                                    <span>Mehedii .H</span>
                                </li>
                                <li>
                                    <i class="icon-7"></i>
                                    <span>Coments (03)</span>
                                </li>
                            </ul>
                            <h3 class="entry-title"><a href="blog-details.html">Get Best Advertiser In Your
                                    Side Pocket</a>
                            </h3>
                            <a href="blog-details.html" class="btn-read-more">Read More <i
                                    class="icon-Vector-4"></i></a>
                        </div>
                    </div>
                    <div class="tf-widget-blog flex-three blog-style3">
                        <a href="blog-details.html" class="blog-image">
                            <img src="./assets/images/blog/bl-h4-3.jpg" alt="">
                        </a>
                        <div class="blog-content">
                            <ul class="meta-list flex-three">
                                <li>
                                    <i class="icon-profile-user-1"></i>
                                    <span>Mehedii .H</span>
                                </li>
                                <li>
                                    <i class="icon-7"></i>
                                    <span>Coments (03)</span>
                                </li>
                            </ul>
                            <h3 class="entry-title"><a href="blog-details.html">Get Best Advertiser In Your
                                    Side Pocket</a>
                            </h3>
                            <a href="blog-details.html" class="btn-read-more">Read More <i
                                    class="icon-Vector-4"></i></a>
                        </div>
                    </div>
                    <div class="tf-widget-blog flex-three blog-style3">
                        <a href="blog-details.html" class="blog-image">
                            <img src="./assets/images/blog/bl-h4-3.jpg" alt="">
                        </a>
                        <div class="blog-content">
                            <ul class="meta-list flex-three">
                                <li>
                                    <i class="icon-profile-user-1"></i>
                                    <span>Mehedii .H</span>
                                </li>
                                <li>
                                    <i class="icon-7"></i>
                                    <span>Coments (03)</span>
                                </li>
                            </ul>
                            <h3 class="entry-title"><a href="blog-details.html">Get Best Advertiser In Your
                                    Side Pocket</a>
                            </h3>
                            <a href="blog-details.html" class="btn-read-more">Read More <i
                                    class="icon-Vector-4"></i></a>
                        </div>
                    </div>
                    <div class="tf-widget-blog flex-three blog-style3">
                        <a href="blog-details.html" class="blog-image">
                            <img src="./assets/images/blog/bl-h4-3.jpg" alt="">
                        </a>
                        <div class="blog-content">
                            <ul class="meta-list flex-three">
                                <li>
                                    <i class="icon-profile-user-1"></i>
                                    <span>Mehedii .H</span>
                                </li>
                                <li>
                                    <i class="icon-7"></i>
                                    <span>Coments (03)</span>
                                </li>
                            </ul>
                            <h3 class="entry-title"><a href="blog-details.html">Get Best Advertiser In Your
                                    Side Pocket</a>
                            </h3>
                            <a href="blog-details.html" class="btn-read-more">Read More <i
                                    class="icon-Vector-4"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section> -->

  


     
    <section class="about-us container">
        <div class="tf-container">
            <div class="row pt-115">
                <div class="col-lg-6">
                    <div class="travel-video relative">
                        <img src="/leap/leapcowork.svg" alt="Image" class="image-video rounded-xl">
                    </div>
                </div>
                <div class="col-lg-6 ">
                    <div class="inner-content-about">
                      
                        <div class="">
                            <h2 class="title-heading mb-18 animated text-3xl font-bold uppercase">KSUM CO - WORK SPACE
                        </div>
                        <p class="des-heading fadeInUp wow">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam pariatur laudantium perferendis iusto similique provident illum culpa, quam ipsum, animi impedit sint error odit delectus, optio placeat voluptate. Corporis, id.
                        </p>
                        <div class="row mt-27 fadeInUp wow">
                            <div class="col-sm-6">
                                <div class="icon-box-style3">
                                    <div class="icon flex-three">
                                        <svg width="51" height="51" viewBox="0 0 51 51" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_40_471)">
                                                <path
                                                    d="M37.5511 9.06618C37.5511 5.77106 34.8703 3.09027 31.5752 3.09027C28.2801 3.09027 25.5993 5.77106 25.5993 9.06618C25.5993 12.3613 28.2801 15.0421 31.5752 15.0421C34.8703 15.0421 37.5511 12.3613 37.5511 9.06618ZM31.5752 12.0541C29.9277 12.0541 28.5873 10.7137 28.5873 9.06618C28.5873 7.41862 29.9277 6.07823 31.5752 6.07823C33.2228 6.07823 34.5632 7.41862 34.5632 9.06618C34.5632 10.7137 33.2228 12.0541 31.5752 12.0541Z"
                                                    fill="currentColor" />
                                                <path
                                                    d="M50.2947 10.8487C49.0667 8.96556 46.5591 8.33461 44.586 9.41226L34.279 15.0416C33.3084 15.0416 16.1894 15.0416 15.1914 15.0416V1.49617C15.1914 0.671101 14.5225 0.00219727 13.6974 0.00219727H1.49398C0.668903 0.00219727 0 0.671101 0 1.49617V10.5596C0 11.3847 0.668903 12.0536 1.49398 12.0536H12.2033V49.5026C12.2033 50.3277 12.8722 50.9966 13.6973 50.9966C14.5224 50.9966 15.1913 50.3277 15.1913 49.5026V24.0054H24.1551V46.5147C24.1551 50.399 28.7646 52.4156 31.625 49.8526C34.4825 52.4131 39.0949 50.4048 39.0949 46.5147V23.3212L49.0299 16.8488C51.038 15.5407 51.6042 12.8565 50.2947 10.8487ZM2.98795 9.06556V2.99005H12.2033V9.06556H2.98795ZM34.613 48.0086C33.7892 48.0086 33.119 47.3384 33.119 46.5146C33.119 45.3559 33.119 38.5353 33.119 37.4511C33.119 36.626 32.4501 35.9571 31.625 35.9571C30.7999 35.9571 30.131 36.626 30.131 37.4511V46.5146C30.131 47.3384 29.4608 48.0086 28.637 48.0086C27.8133 48.0086 27.1431 47.3384 27.1431 46.5146V32.9692H36.1069V46.5146C36.1069 47.3384 35.4367 48.0086 34.613 48.0086ZM47.399 14.3452L36.7854 21.2596C36.3622 21.5354 36.1069 22.0063 36.1069 22.5114V29.9812H27.1431V22.5114C27.1431 21.6863 26.4742 21.0174 25.6491 21.0174H15.1913V18.0294C35.5362 17.9654 34.7563 18.1854 35.3764 17.8467L46.0182 12.0346C46.6312 11.6997 47.4104 11.8957 47.7919 12.4809C48.1988 13.1046 48.0231 13.9387 47.399 14.3452Z"
                                                    fill="currentColor" />
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_40_471">
                                                    <rect width="51" height="51" fill="white" />
                                                </clipPath>
                                            </defs>
                                        </svg>
                                    </div>
                                    <p class="des">Subsidy will be applicable to startups having unique id (KSUM)</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="icon-box-style3">
                                    <div class="icon flex-three">
                                        <svg width="51" height="51" viewBox="0 0 51 51" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_40_471)">
                                                <path
                                                    d="M37.5511 9.06618C37.5511 5.77106 34.8703 3.09027 31.5752 3.09027C28.2801 3.09027 25.5993 5.77106 25.5993 9.06618C25.5993 12.3613 28.2801 15.0421 31.5752 15.0421C34.8703 15.0421 37.5511 12.3613 37.5511 9.06618ZM31.5752 12.0541C29.9277 12.0541 28.5873 10.7137 28.5873 9.06618C28.5873 7.41862 29.9277 6.07823 31.5752 6.07823C33.2228 6.07823 34.5632 7.41862 34.5632 9.06618C34.5632 10.7137 33.2228 12.0541 31.5752 12.0541Z"
                                                    fill="currentColor" />
                                                <path
                                                    d="M50.2947 10.8487C49.0667 8.96556 46.5591 8.33461 44.586 9.41226L34.279 15.0416C33.3084 15.0416 16.1894 15.0416 15.1914 15.0416V1.49617C15.1914 0.671101 14.5225 0.00219727 13.6974 0.00219727H1.49398C0.668903 0.00219727 0 0.671101 0 1.49617V10.5596C0 11.3847 0.668903 12.0536 1.49398 12.0536H12.2033V49.5026C12.2033 50.3277 12.8722 50.9966 13.6973 50.9966C14.5224 50.9966 15.1913 50.3277 15.1913 49.5026V24.0054H24.1551V46.5147C24.1551 50.399 28.7646 52.4156 31.625 49.8526C34.4825 52.4131 39.0949 50.4048 39.0949 46.5147V23.3212L49.0299 16.8488C51.038 15.5407 51.6042 12.8565 50.2947 10.8487ZM2.98795 9.06556V2.99005H12.2033V9.06556H2.98795ZM34.613 48.0086C33.7892 48.0086 33.119 47.3384 33.119 46.5146C33.119 45.3559 33.119 38.5353 33.119 37.4511C33.119 36.626 32.4501 35.9571 31.625 35.9571C30.7999 35.9571 30.131 36.626 30.131 37.4511V46.5146C30.131 47.3384 29.4608 48.0086 28.637 48.0086C27.8133 48.0086 27.1431 47.3384 27.1431 46.5146V32.9692H36.1069V46.5146C36.1069 47.3384 35.4367 48.0086 34.613 48.0086ZM47.399 14.3452L36.7854 21.2596C36.3622 21.5354 36.1069 22.0063 36.1069 22.5114V29.9812H27.1431V22.5114C27.1431 21.6863 26.4742 21.0174 25.6491 21.0174H15.1913V18.0294C35.5362 17.9654 34.7563 18.1854 35.3764 17.8467L46.0182 12.0346C46.6312 11.6997 47.4104 11.8957 47.7919 12.4809C48.1988 13.1046 48.0231 13.9387 47.399 14.3452Z"
                                                    fill="currentColor" />
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_40_471">
                                                    <rect width="51" height="51" fill="white" />
                                                </clipPath>
                                            </defs>
                                        </svg>
                                    </div>
                                    <p class="des">
                                        Women startups will get an additional subsidy of 10%
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-27 fadeInUp wow">
                            <div class="col-sm-6">
                                <div class="icon-box-style3">
                                    <div class="icon flex-three">
                                        <svg width="51" height="51" viewBox="0 0 51 51" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_40_471)">
                                                <path
                                                    d="M37.5511 9.06618C37.5511 5.77106 34.8703 3.09027 31.5752 3.09027C28.2801 3.09027 25.5993 5.77106 25.5993 9.06618C25.5993 12.3613 28.2801 15.0421 31.5752 15.0421C34.8703 15.0421 37.5511 12.3613 37.5511 9.06618ZM31.5752 12.0541C29.9277 12.0541 28.5873 10.7137 28.5873 9.06618C28.5873 7.41862 29.9277 6.07823 31.5752 6.07823C33.2228 6.07823 34.5632 7.41862 34.5632 9.06618C34.5632 10.7137 33.2228 12.0541 31.5752 12.0541Z"
                                                    fill="currentColor" />
                                                <path
                                                    d="M50.2947 10.8487C49.0667 8.96556 46.5591 8.33461 44.586 9.41226L34.279 15.0416C33.3084 15.0416 16.1894 15.0416 15.1914 15.0416V1.49617C15.1914 0.671101 14.5225 0.00219727 13.6974 0.00219727H1.49398C0.668903 0.00219727 0 0.671101 0 1.49617V10.5596C0 11.3847 0.668903 12.0536 1.49398 12.0536H12.2033V49.5026C12.2033 50.3277 12.8722 50.9966 13.6973 50.9966C14.5224 50.9966 15.1913 50.3277 15.1913 49.5026V24.0054H24.1551V46.5147C24.1551 50.399 28.7646 52.4156 31.625 49.8526C34.4825 52.4131 39.0949 50.4048 39.0949 46.5147V23.3212L49.0299 16.8488C51.038 15.5407 51.6042 12.8565 50.2947 10.8487ZM2.98795 9.06556V2.99005H12.2033V9.06556H2.98795ZM34.613 48.0086C33.7892 48.0086 33.119 47.3384 33.119 46.5146C33.119 45.3559 33.119 38.5353 33.119 37.4511C33.119 36.626 32.4501 35.9571 31.625 35.9571C30.7999 35.9571 30.131 36.626 30.131 37.4511V46.5146C30.131 47.3384 29.4608 48.0086 28.637 48.0086C27.8133 48.0086 27.1431 47.3384 27.1431 46.5146V32.9692H36.1069V46.5146C36.1069 47.3384 35.4367 48.0086 34.613 48.0086ZM47.399 14.3452L36.7854 21.2596C36.3622 21.5354 36.1069 22.0063 36.1069 22.5114V29.9812H27.1431V22.5114C27.1431 21.6863 26.4742 21.0174 25.6491 21.0174H15.1913V18.0294C35.5362 17.9654 34.7563 18.1854 35.3764 17.8467L46.0182 12.0346C46.6312 11.6997 47.4104 11.8957 47.7919 12.4809C48.1988 13.1046 48.0231 13.9387 47.399 14.3452Z"
                                                    fill="currentColor" />
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_40_471">
                                                    <rect width="51" height="51" fill="white" />
                                                </clipPath>
                                            </defs>
                                        </svg>
                                    </div>
                                    <p class="des">
                                        The subsidy will be reduced 5% every year on renewal of agreement
                                    </p>
                                </div>
                            </div>
                           <div class="col-sm-6">
                                <div class="flex-three btn-wrap-about mb-30 fadeInUp wow">
                                    <a href="#ksum_co_works" class="btn-main">
                                        <p class="btn-main-text">View More</p>
                                        <p class="iconer">
                                            <i class="icon-arrow-right"></i>
                                        </p>
                                    </a>
                                </div>
                           </div>
                          
                        </div>



                      

                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="section-blog py-24 relative" id="ksum_co_works">
        <div class="bg-blog-h4"></div>
        <div class="tf-container">
            <div class="row">
                <div class="col-lg-12 mb-10">
                    <div class="center m0-auto w-text-heading">
                        <span
                            class="sub-title-heading text-main font-yes fs-28-46 text-base  ">LEAP Centres</span>
                        <h2 class="title-heading  font-bold text-2xl ">KSUM Owned centres</h2>
                    </div>
                </div>
            </div>
            <div class="">
               
                <div class="grid md:grid-cols-2 grid-cols-1 gap-4 ">
                    {data.map((item) => (
                    <div class="tf-widget-blog flex-three blog-style3 max-w-full  min-w-full ">
                        <a href={`/details/${item.id}`} class="blog-image">
                            <img src={item.image} alt={item.title} alt="">
                        </a>
                        <div class="blog-content w-full">
                           
                            <h3 class="entry-title"><a href={`/details/${item.id}`}>{item.title}</a>
                            </h3>
                            <p class="text-sm">{item.address}</p>
                            
                           <div class=" flex justify-between items-center pt-2 ">
                                <a  href={`/details/${item.id}`} class="btn-read-more items-center flex justify-center text-xs">Read More <i
                                        class="icon-Vector-4"></i></a>
                                <ul class="meta-list flex-three py-1">
                                    <li class=" flex items-center justify-center">
                                        <i class="icon-profile-user-1"></i>
                                        <span class="text-sm">{item.poc}</span>
                                    </li>
                                
                                </ul>
                           </div>

                        </div>
                    </div>
                    ))}

                </div>
               
              
            </div>

        </div>
    </section>





    <section class="mb-14 tf-container pt-10">
         <div class="row">
            <div class="mb-18">
                {/* <span class="sub-title-heading text-main fs-28-46 font-yes animated">What</span> */}
                <h2 class="title-heading mb-18 animated text-3xl font-bold uppercase">Selection process
            </div>
        </div>
        <Selection></Selection>
    </section>

    <section class="tf-container flex items-end justify-end w-full">
       
        <div class="flex-three btn-wrap-about ">
            <a href="https://startups.startupmission.in/application/incubation" target="_blank" class="btn-main">
                <p class="btn-main-text"> Apply Now</p>
                <p class="iconer">
                    <i class="icon-arrow-right"></i>
                </p>
            </a>
        </div>
    </section>




    <section class="about-us-h3 pd-main about-us-archieve relative" id="ksum_partnered">
        <div class="tf-container ">
            <div class="row z-index3 relative">
                <div class="col-md-6">
                    <div class="about-us-h3-image relative">
                        <img src="/leap/leapp1.jpg" alt="image" class="image-explore">
                       
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-us-h3-content">
                        <div class="mb-18">
                            <div class="">
                                <h2 class="title-heading mb-18 animated text-3xl font-bold uppercase">KSUM PARTNERS
                            </div>
                            <p class="des">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus pariatur error quibusdam quisquam quo? Molestiae, corporis harum, iste consequatur sunt autem cupiditate non praesentium sequi, porro accusamus modi eligendi id!
                            </p>
                        </div>
                        <p class="text-main ranger-suport mb-10">
                            Eligibility and selection
                        </p>

                        <ul class="list-icon mb-37">
                            <li>
                                <i class="icon-Group-13"></i>
                                <span>The selection of startups and pricing for rent and fees will be at the sole discretion of each center.</span>
                            </li>
                            <li>
                                <i class="icon-Group-13"></i>
                                <span>Startups will be eligible for all benefits provided by KSUM</span>
                            </li>
                        </ul>

                        <div class="about-wrap flex-three">
                            <a href="#ksum_partners" class="btn-main">
                                <p class="btn-main-text">View More</p>
                                <p class="iconer">
                                    <i class="icon-arrow-right"></i>
                                </p>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    
   
    {/* <section class="about-us-h4 pb-24 " id="partners">
        <div class="tf-container">
            <div class="row">
                <div class="col-md-6 inner-content-about">
                    <div class="row">
                        <div class="">
                            <h2 class="title-heading mb-18 animated text-3xl font-bold uppercase">KSUM PARTNERS
                        </div>
                        <div class="">
                            <p class="des">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nisi repudiandae natus quidem eius et aspernatur harum voluptate quam in! Modi velit, odio nisi nulla nostrum eligendi qui sit dolorum.
                            </p>
                        </div>
                    </div>
                  
                </div>
            </div>
            <div class="row mt-10">
                <div class=" grid md:grid-cols-2 grid-cols-1 gap-3">
                    <div class="cheackmark items-center justify-center flex ">
                        <div class="icon flex-five">
                            <i class="icon-plane-1"></i>
                        </div>
                        <div class="content">
                            <p class=" text-justify">
                                The selection of startups and pricing for rent and fees will be at the sole discretion of each center.                                    </p>
                        </div>
                    </div>
                    <div class="cheackmark flex items-center justify-center ">
                        <div class="icon flex-five">
                            <i class="icon-guide-1-1"></i>
                        </div>
                        <div class="content ">
                            <p class="">
                                Startups will be eligible for all benefits provided by KSUM
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section> */}

    <section class="section-blog pb-24 relative" id="ksum_partners">
        <div class="bg-blog-h4"></div>
        <div class="tf-container">
            <div class="row">
                <div class="col-lg-12 mb-10">
                    <div class="center m0-auto w-text-heading">
                        <span
                            class="sub-title-heading text-main font-yes fs-28-46 text-base  ">LEAP Centres</span>
                        <h2 class="title-heading  font-bold text-2xl ">KSUM Partnered Center</h2>
                    </div>
                </div>
            </div>
            <div class="">
               
                <div class="grid md:grid-cols-2 grid-cols-1 gap-4 ">
                    {datapartners.map((item) => (
                    <div class="tf-widget-blog flex-three blog-style3 ">
                        <a href={`/partners/${item.id}`} class="blog-image">
                            <img src={item.image} alt={item.title} alt="">
                        </a>
                        <div class="blog-content w-full">
                           
                            <h3 class="entry-title"><a href={`/partners/${item.id}`}>{item.title}</a>
                            </h3>
                            <p class="text-sm">{item.address}</p>
                            
                           <div class=" flex justify-between items-center pt-2 ">
                                <a  href={`/partners/${item.id}`} class="btn-read-more items-center flex justify-center text-xs">Read More <i
                                        class="icon-Vector-4"></i></a>
                                <ul class="meta-list flex-three py-1">
                                    <li class=" flex items-center justify-center">
                                        <i class="icon-profile-user-1"></i>
                                        <span class="text-sm">{item.poc}</span>
                                    </li>
                                
                                </ul>
                           </div>

                        </div>
                    </div>
                    ))}

                </div>
               
              
            </div>

        </div>
    </section>


    
    <section class="inner-faq pb-24 pt-24">
                    <div class="tf-container">
                        <div class="">
                            <!-- <span class="sub-title-heading text-main fs-28-46 font-yes animated">What</span> -->
                            <h2 class="title-heading mb-18 animated text-3xl font-bold uppercase">FAQs</h2>
                        </div>
                        <div class="row">

                            <div class="  grid md:grid-cols-2 grid-cols-1 gap-4">
                            
                                <div id="accordion-collapse" data-accordion="collapse" class="">
                                    <div>
                                        <h2 id="accordion-collapse-heading-1" class="bg-white ">
                                            <button type="button" class="flex items-center justify-between w-full  rtl:text-right text-black bg-white  px-4 font-semibold   gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" data-accordion-target="#accordion-collapse-body-1" aria-expanded="true" aria-controls="accordion-collapse-body-1">
                                                <span>What is Flowbite?</span>
                                                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                                                </svg>
                                            </button>
                                        </h2>
                                        <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
                                            <div class="p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
                                                <p class="mb-2 text-gray-500 ">Flowbite is an open-source library of interactive components built on top of Tailwind CSS including buttons, dropdowns, modals, navbars, and more.</p>
                                                <p class="text-gray-500">Check out this guide to learn how to <a href="/docs/getting-started/introduction/" class="text-blue-600 dark:text-blue-500 hover:underline">get started</a> and start developing websites even faster with components on top of Tailwind CSS.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <h2 id="accordion-collapse-heading-2" class="bg-white ">
                                            <button type="button" class="flex items-center justify-between w-full  rtl:text-right text-black bg-white  px-4 font-semibold   gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" data-accordion-target="#accordion-collapse-body-2" aria-expanded="true" aria-controls="accordion-collapse-body-2">
                                                <span>What is Flowbite?</span>
                                                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                                                </svg>
                                            </button>
                                        </h2>
                                        <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
                                            <div class="p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
                                                <p class="mb-2 text-gray-500 ">Flowbite is an open-source library of interactive components built on top of Tailwind CSS including buttons, dropdowns, modals, navbars, and more.</p>
                                                <p class="text-gray-500">Check out this guide to learn how to <a href="/docs/getting-started/introduction/" class="text-blue-600 dark:text-blue-500 hover:underline">get started</a> and start developing websites even faster with components on top of Tailwind CSS.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="accordion-collapse1" data-accordion="collapse" class="">
                                    
                                    <div>
                                        <h2 id="accordion-collapse1-heading-3" class="bg-white ">
                                            <button type="button" class="flex items-center justify-between w-full  rtl:text-right text-black bg-white  px-4 font-semibold   gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" data-accordion-target="#accordion-collapse1-body-3" aria-expanded="true" aria-controls="accordion-collapse1-body-3">
                                                <span>What is Flowbite?</span>
                                                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                                                </svg>
                                            </button>
                                        </h2>
                                        <div id="accordion-collapse1-body-3" class="hidden" aria-labelledby="accordion-collapse-heading-3 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
                                            <div class="p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
                                                <p class="mb-2 text-gray-500 ">Flowbite is an open-source library of interactive components built on top of Tailwind CSS including buttons, dropdowns, modals, navbars, and more.</p>
                                                <p class="text-gray-500">Check out this guide to learn how to <a href="/docs/getting-started/introduction/" class="text-blue-600 dark:text-blue-500 hover:underline">get started</a> and start developing websites even faster with components on top of Tailwind CSS.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <h2 id="accordion-collapse1-heading-4" class="bg-white ">
                                            <button type="button" class="flex items-center justify-between w-full  rtl:text-right text-black bg-white  px-4 font-semibold   gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" data-accordion-target="#accordion-collapse1-body-4" aria-expanded="true" aria-controls="accordion-collapse1-body-4">
                                                <span>What is Flowbite?</span>
                                                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                                                </svg>
                                            </button>
                                        </h2>
                                        <div id="accordion-collapse1-body-4" class="hidden" aria-labelledby="accordion-collapse-heading-4 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
                                            <div class="p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
                                                <p class="mb-2 text-gray-500 ">Flowbite is an open-source library of interactive components built on top of Tailwind CSS including buttons, dropdowns, modals, navbars, and more.</p>
                                                <p class="text-gray-500">Check out this guide to learn how to <a href="/docs/getting-started/introduction/" class="text-blue-600 dark:text-blue-500 hover:underline">get started</a> and start developing websites even faster with components on top of Tailwind CSS.</p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </section>

    <Footer></Footer>

</main>
</Layout>
<style is:global>
    .scroll-hide::-webkit-scrollbar {
      display: none;
    }
  </style>